@page
@using Pages.Student
@model IndexModel
    
<h1>Index page</h1>

<form method="post">
    <input type="text" name="GPA"  />
    <button class="btn" asp-page-handler="Greater" type="submit" >Greater</button>
    <button class="btn" asp-page-handler="Less" type="submit">Less</button>
</form>
<form>
    <input type="text" name="searchString" value="" />
    <button class="btn"  type="submit" >Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <a asp-page="./Create" asp-route-id="Model.Students.Id">Create</a>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>